body {
    height: 1852 px;
    background: linear-gradient(to bottom, #99ABFD, #FFFFFF, #E7F8FF);
}
#header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title{
    width: 100vw;
    height: 142px;
    background-color: #E7F8FF;
}
h1 {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 58px;
    color: #212C2F;
}
p {
    font-family: "Fugaz One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 36px;
    color: #E5B7CD;
}
#main {
    display: flex;
    width: 100vw;
    height: 1710px;
}


.windows {
    background: radial-gradient(50% 50% at 50% 50%, #D6E8FC 27.4%, #FFFFFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.m_area1{
    width: 100vw;
    height: 685px;
}
.m_area2{
    width: 100vw;
    height: 1025px;
}
.m_area1 .windows{
    position: absolute;
    width: 683px;
    height: 555px;
    left: 100px;
    top: 192px;
}
.windows .windows_h{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    background: linear-gradient(360deg, #F7DBEA 21.15%, #FFFDFF 112.5%);
    border-radius: 8px 8px 0px 0px;
}
.m_area1 .windows_h{
    flex-direction: row-reverse;
}
.m_area1 .windows_h .icon{
    margin-right: 26px;
}
.m_area1 .windows p {
    margin: 89px 0 10px 29px;
    color: #6C7994;
}
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.SInput {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.m_area1 .WhatSong{
    width: 541px;
    height: 48px;
    border-radius: 6px 0 0 6px;
    border: none;
    padding-left: 22px;
    font-family: 'Cafe24Ohsquare', sans-serif;
    font-size: 24px;
}
.m_area1 .enter_box {
    width: 48px;
    height: 48px;
    border-radius: 0 6px 6px 0;
    background: linear-gradient(to bottom, #FFFDFF, #F7DBEA);
}
.m_area1 .input_area {
    width: 589px;
    height: 250px;
    margin-left: 30px;
    background-color: #FFFDFF;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    overflow-y: auto;
    max-height: 250px; /* 기존 높이 유지 */
    padding: 10px;
}
.track-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
.track-item:hover {
    background-color: #E8F1F9;
}
.track-item.selected {
    background-color: #FDF5FA;
}
  
  .track-item img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 6px;
  }
  
  .track-title {
    font-size: 20px;
    font-family: 'Pretendard-Regular',;
    font-weight: 600;
    color: #6C7994;
  }


.m_area2 .windows {
    /* windows2 */
    margin-top: 50px;
    position: absolute;
    width: 997px;
    height: 622px;
    left: 351px;
    top: 887px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.m_area2 .windows_h p{
    margin-left: 35px;
    margin-right: 629px;
}
.m_area2 .track-display{
    display: flex;
}
.m_area2 .album-art{
    width: 362px;
    height: 362px;
    margin: 118px 0 57px 63px;
}
.Music {
    height: 193px;
}
.m_area2 h1{
    margin: 118px 0 0 57px;
    font-family: 'Cafe24Ohsquare', sans-serif;
    font-size: 48px;
    color: #6C7994;
}
.track-display p{
    margin: 16px 0 0 57px;
    font-family: 'Cafe24Ohsquare', sans-serif;
    font-weight: 100;
    font-size: 27px;
    color: #6C7994;
}
#audio-player {
    margin: 66px 0 0 57px;
}

.track-display .progress-bar-bg{
    width: 818px;
    height: 7px;
    background-color: #6C7994;
}
.track-display .progress-bar-bg .progress-bar-fill{
    height: 7px;
    background-color: #E5B7CD;
}